<h2>List of Celebrities</h2>
<ul>
  {{#each theCelebrities}}
  <li>{{this.name}} <a href="/celebrities/{{this.id}}">Details</a></li>
  </br>
  <form action="/celebrities/{{this.id}}/delete" method="POST">
        <button type="submit">delete</button></form>
  </br>
  <form action="/celebrities/{{this.id}}/edit" method="GET">
    <button type="submit">Edit</button></form>
  {{/each}}
  <a href="/">GO BACK</a>
</ul>